{% extends 'accounts/base.html' %}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="username" required>
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" name="password" required>
        <label for="floatingPassword">Password</label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
    <hr class="my-4">
    <small class="text-muted">Forgot your password?<a href="{% url 'password_reset' %}"> Reset It</a></small>
</form>

{% endblock content %}