{% extends 'accounts/base.html' %}
{% load widget_tweaks %}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {% render_field form.email class="form-control" %}
        <label for="floatingInput">Email ID</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    <hr class="my-4">
    <small class="text-muted">Remember your password? <a href="{% url 'login' %}">Sign In</a></small>
</form>

{% endblock content %}