{% extends 'base.html' %}

{% block content %}

<div class="row align-items-md-stretch">
    <div class="col-md-8">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Discover the Bold Taste of Zobo</h2>
            <p>Zobo isn’t just a drink — it’s a celebration in a cup! Made from dried hibiscus petals, this rich,
                ruby-red beverage is naturally refreshing, slightly tangy, and bursting with flavor. Whether served
                chilled on a sunny afternoon or spiced up with ginger and pineapple, Zobo is a delicious way to cool
                down, boost your health, and enjoy a taste of tradition. No preservatives, just pure, wholesome
                goodness.</p>
            <a href="{% url 'checkout' product.pk %}" class="btn btn-outline-light" type="button">Place orders</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>A Refreshing Drink</h2>
            <p>It’s rich in antioxidants that help fight free radicals and support overall wellness. Zobo may also
                promote heart health by helping to lower blood pressure and cholesterol levels. Thanks to its high
                Vitamin C content, it gives your immune system a natural boost. </p>
            <div>
                {% if product.status == 'In Stock' %}
                <span class="badge bg-success">In Stock</span>
                {% else %}
                <span class="badge bg-danger">Out of Stock</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}