{% extends 'base.html' %}

{% block content %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Discover the Bold Taste of Zobo</h2>
            <p>Zobo isn’t just a drink — it’s a celebration in a cup! Made from dried hibiscus petals, this rich,
                ruby-red beverage is naturally refreshing, slightly tangy, and bursting with flavor. Whether served
                chilled on a sunny afternoon or spiced up with ginger and pineapple, Zobo is a delicious way to cool
                down, boost your health, and enjoy a taste of tradition. No preservatives, just pure, wholesome
                goodness.</p>
        </div>
    </div>
   
</div>

{% endblock content %}